<div class="title">  


<form action="/open" method="get" accept-charset="utf-8">
	<p><input type="submit" value="All &rarr;"></p>
</form>

<form action="/open/main" method="get" accept-charset="utf-8">
	<p><input type="submit" value="Main Door &rarr;"></p>
</form>

<form action="/open/flat" method="get" accept-charset="utf-8">
	<p><input type="submit" value="Flat Door &rarr;"></p>
</form>


</div>